<h1>Bienvenido {{user.name}}!</h1>
<div class="inscripción">
    {{#if user.facebookID}}
    <img src="{{user.image}}" alt="{{user.name}}">
    <br>
    Iniciaste con Facebook
    {{ else if user.googleID}}
    <img src="{{user.image}}" alt="{{user.name}}">
    <br>
    Iniciaste con Google
    {{else}}
    <img src="{{user.image}}" alt="{{user.name}}">
    <br>
    {{/if}}
</div>
<br>
<h7>Nombre: {{user.name}}</h7>
<h7>Correo: {{user.email}}</h7>

<hr>

<h3>Mis Eventos</h3>
<div class="Eventos">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <th> Evento </th>
            <th> Delete </th>
            <th> <a href="/admin/eventos/detalle">Edit</a> </th>
            {{#each events}}
            <h1>{{ this.name}}</h1>
            <th> <a href="/admin/{{this._id}}">{{ this.name }}</a> </th>
            <th> <a href="/admin/{{this._id}}/delete">Delete</a> </th>
            <th> <a href="/admin/eventos/detalle">Edit</a> </th>
            {{/each}}
        </tbody>
    </table>
    <a href="eventos/datos" class="btn btn-primary">Nuevo Evento</a>

    <br><br><br>