<body class="rosa">
  <div class="inscripción">
    {{#if user.facebookID}}
    <img src="{{user.image}}" alt="{{user.name}}">
    <br>
    Iniciaste con Facebook
    {{ else if user.googleID}}
    <img src="{{user.image}}" alt="{{user.name}}">
    <br>
    Iniciaste con Google
    {{else}}
    <img src="{{user.image}}" alt="{{user.name}}">
    <br>
    Iniciaste sin Redes sociales
    {{/if}}
  </div>
  <br>
  <div class="textoinfo">
    <h5>Nombre: {{user.name}}</h5>
    <h5>Correo: {{user.email}}</h5>
    {{!-- <h5>¿De que trata?: {{user.description}}</h5> --}}
    <h5>Fecha:</h5>
    <h5>Mapa:</h5>
  </div>
  <div class="botonesperfil">
    <br>
    <button type="button" class="btninfi btn-info btn-lg" data-toggle="collapse" data-target="#demo">¿De que trata el
      evento?</button>
    <div id="demo" class="collapse">
      <br>
      {{user.description}}
    </div>
    <br>
    <a href="/admin/invitados"><button class="btnperfil btn-primary btn-lg"> Invitados </button></a>
    <br>
    <a href="/admin/presupuesto"><button class="btnperfil btn-primary btn-lg"> Presupuesto </button></a>
    <br>
    <a href="/admin/tareas"><button class="btnperfil btn-primary btn-lg"> Tareas </button></a>
    <br>
    <a href="/admin/ideas"><button class="btnperfil btn-primary btn-lg"> Ideas </button></a>
    <br>
  </div>
</body>