<h1>Invitados</h1>
<div class="Eventos">

  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    {{#each events}}
    <h1>{{ this.name}}</h1>
    <th> <a href="/admin/{{this._id}}">{{ this.name }}</a> </th>
    <th> <a href="/admin/{{this._id}}/delete">Delete</a> </th>
    <th> <a href="/admin/{{this._id}}/edit">Edit</a> </th>
    {{/each}}
  </table>
  <a href="datos" class="btn btn-primary">Nuevo invitados</a>